.brand-logo {
    width: 200px;
    height: 55px;
    background-image: url("../../assets/resources/images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-wrapper {
    background-color: #0caa24;
}

.btn{
    background-color: #10E630;
    color: #10c2e6;
    font-weight: bold;
}
