.nav-menu{
    display: inline-block;
    height: fit-content;
}

.container{
    width: 1200px;
}

.img-logo{
    width: 200px;
    height: 55px;
    background-image: url("../../assets/resources/images/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar{
    background-color: #0caa24;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu a{
    margin-left: 20px;
}

.btn-large{
    background-color: #10E630;
    color: #10c2e6;
    font-weight: bold;
}

@media (max-width: 800px){
    .container{
        max-width: 700px;
    }
    .btn-large{
        font-size: 10px !important;
        max-width: 100px;
        max-height: 100px;
        word-wrap: break-word;
    }
}