
<div class="container">

    <h1>Passagem de dados de componente pai para filho e filho para pai</h1>
    <app-componente-auxiliar-atividade09 (idade)="setIdade($event)" [nome]="this.nome" [sobrenome]="this.sobrenome"></app-componente-auxiliar-atividade09>
    <br><br><br>
    <h1>idade informada no componente filho:</h1>
    <p class="background-purple" [ngStyle]="idade == 0 ? {'display': 'none'} : {'display': 'block'}" >{{ idade }}</p>
    <br><br><br>

    <div class="container-2">
        <div>Passagem de dados via parâmetros e ViewChild</div> 
        <input type="number" [(ngModel)]="this.numeroRepeticao" placeholder="Insira um número até 30" >       
        <a [routerLink]="['/view']" [queryParams]="{numeros: 'impares', repeticao: this.numeroRepeticao }" class="btn">números ímpares</a>
        <a [routerLink]="['/view']" [queryParams]="{numeros: 'pares', repeticao: this.numeroRepeticao }" class="btn">números pares</a>
    </div>


    <a [routerLink]="['']" class="btn">voltar</a>

</div>