.main-page-container{
    background-color: #10c2e6;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 86vh;
    gap: 60px;
}


.btn{
    display: flex;
    flex-basis: 20px;    
    align-items: center;
    width: 345px;
    height: 197px;
    font-size: 40px;
    font-weight: bold;
    color: #000;    
}

@media (max-width: 992px) {
    .main-page-container{
        gap: 120px
    }
    .main-page-container{
        min-height: 87vh;
    }
}

@media (max-width: 636px) {
    .main-page-container{
        justify-content: space-evenly;
    }
}

@media (max-width: 380px) {
    .btn{
        width: 200px;
        height: 110px;
        font-size: 16px;
        font-weight: bold;
        color: #000;    
    }
}