.container-1{
    background-color: #10c2e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;
}


.container-1-2{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y:auto;
}

a:hover{
    cursor: grab;
}

.form-container{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.input-field1 {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #fff;
    width: 400px;
    padding: 0px;
    margin: 0px;
}

input{    
    all: unset !important;
    width: 400px;
    height: 30pX !important;
}

label{
    text-align: center;
    color: #000;
    background-color: #10c2e6;;
    position: relative;
}

.btn{ 
    width: 160px;
    height: 60px;
    background-color: #107ee6;
    color: #000;
    font-size: 20px;
}

.consulta{
    background-color: #10c2e6;
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: auto;
}

@media (max-width: 1200px){
    .container-1{
        min-height: 61vh;
    }
}

@media (max-width: 800px){
    .container-1{
        flex-direction: column;
        min-height: 61vh;
    }

    .container-1-2{
        margin-top: 20px;
        min-height: 100px;
        display: flex;
        gap: 30px;
        flex-direction: row;
        justify-content: space-around;
    }

    .btn{ 
        width: 100px;
        height: 40px;
        background-color: #107ee6;
        color: #000;
        font-size: 12px;
    }
}

@media (max-width: 600px){
    .container-1{
        min-height: 62vh;
    }

    .input-field1 {
        display: grid;
        grid-template-columns: 1fr 6fr;
        background-color: #fff;
        width: 300px;
        padding: 0px;
        margin: 0px;
    }
    
    input{    
        all: unset !important;
        width: 300px;
        height: 30pX !important;
    }
}