<form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-field col s12">
        <label for="input-name">Nome</label>
        <br>
        <input
        id="input-name"
        name="input-name"
        type="text"
        class="validate"
        [(ngModel)]="this.pessoa.nome"
        pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
        #name="ngModel"
        required>         
        <div class="red-text" [hidden]="name.valid || name.untouched">
            Por favor, preencha o campo acima.
        </div>       
    </div>
    <div class="input-field col s12">
        <label for="input-vinculo">Vinculo</label>
        <br>
        <input
        id="input-vinculo"
        name="input-vinculo"
        type="text"
        class="validate"
        [(ngModel)]="this.pessoa.vinculo"
        pattern="(\s?[A-ZÀ-Ú]*[a-zà-ú]*)"
        #vinculo="ngModel"
        required>         
        <div class="red-text" [hidden]="vinculo.valid || vinculo.untouched">
            Por favor, preencha o campo acima.
        </div>       
    </div>
    <div class="input-field col s12">
        <label for="input-cpf">CPF</label>
        <br>
        <input
        id="input-cpf"
        name="input-cpf"
        type="text"
        class="validate"
        [(ngModel)]="this.pessoa.cpf"
        pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
        #cpf="ngModel"
        required>         
        <div class="red-text" [hidden]="cpf.valid || cpf.untouched">
            Por favor, preencha o campo acima.
        </div>       
    </div>
    <div class="input-field col s12">
        <label for="input-salario">Sálario</label>
        <br>
        <input
        id="input-salario"
        name="input-salario"
        type="number"
        class="validate"
        [(ngModel)]="this.pessoa.salario"
        #salario="ngModel"
        required>         
        <div class="red-text" [hidden]="salario.valid || salario.untouched">
            Por favor, preencha o campo acima.
        </div>       
    </div>
<button class="btn" type="submit" [disabled]="!form.valid">ENVIAR</button>
</form>


<div class="container" *ngIf="pessoas && pessoas!.length > 0">
  <h3 class="">Usuários cadastrados</h3>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Vínculo</th>
        <th>Salário</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let u of pessoas">
          <td>{{ u.nome }}</td>
          <td>{{ u.cpf }}</td>
          <td>{{ u.vinculo }}</td>
          <td>{{ u.salario | currency: "BRL" }}</td>
          <td class="right">
            <a class="hand-mouse"><i class="material-icons" (click)="onEdit(u)">edit</i></a>
            <a class="hand-mouse"><i class="material-icons" (click)="onDelete(u)">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  