@import "~materialize-css/dist/css/materialize.min.css";
@import "~material-icons/iconfont/material-icons.css";

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: #0caa24;
    font-weight: bold;    
    color: #10e630;
}

